<div class="indent">
    <div class="container">
        <div class="col-1 col-pad">
            <h2>World class, custom widgets </h2>
            <div class="col-indent">
                <p>Welcome to Pacific Oasis Enterprise, Inc. We are a wholesaler of janitorial products. We carry items such as disposable gloves, scrubbers, and aprons. If you are interested in our products, please send us an E-mail for more information.</p>

                <a href="#" class="link">Read more</a>
            </div>
        </div>
        <div class="col-1 col-pad">
            <h2>Recent News</h2>
            <div class="col-indent">

                <ul class="pad">
                    <li><a href="#">China office expanding! we have been recruiting our staff in shanghai and manufacturing product line around China division.</a>
                    </li>
                    <li><a href="#">Order your product thru our hotline or online</a>
                    </li>

                </ul>
                <a href="#" class="link1">Read more</a>
            </div>
        </div>
        <div class="col-1">
            <h2>Product Studies And Promotions</h2>
            <div class="col-indent">
                <div class="border">

                    In order to know the current demand for the JANITORIAL/SANITARY products in the market, Pacific Oasis participated in various trade shows involving this kind of product line. From recent shows attended, the company had realized that there are unlimited
                    b usiness opportunities in these kind of products.
                    <br />
                    <a href="#" class="link"><em>Read more</em></a>
                </div>

            </div>
        </div>
    </div>
</div>
