<div class="indent1">
    <div class="container">
        <div class="col-1 col-pad">
            <h2>Contact Us</h2>
            <div class="col-indent">
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">U.S. Offices</a></li>
                    <li><a href="#">China Offices</a></li>

                </ul>


            </div>
        </div>
        <div class="col-2">
            <h2>Contact Us</h2>
            <div class="col-1 col-pad">
                <h2>Global Headquaters</h2>
                <div class="col-indent">


                    <p style="padding: 0px;">8413 Secura Way Unit B <br />
                        Santa Fe Springs, CA 90670<br />
                        USA</p>
                    <p>Tel: (888) PAC-OASIS, (800)-424-1475, (562) 698-9146 <br />
                        Fax: (562) 698-9147 <br />
                        E-Mail: POEUS@PacificOasis.com</p>
                    <br />

                </div>
            </div>

            <div class="col-1">
                <h2>United State</h2>
                <div class="col-indent">

                    <div class="col-indent">


                        <p style="padding: 0px;">1740 W. 6th Street <br />
                            Fayetteville, AR 72701 <br />
                            USA</p>
                        <p>Tel: 1(479)521-3765 <br />
                            E-Mail: doug@pacificoasis.com</p>

                    </div>

                </div>
            </div>

            <div class="col-1 col-pad">
                <h2>China Headquater</h2>
                <div class="col-indent">

                    <p style="padding: 0px;">ROOM 1101, #18, LUJIAZUI GARDEN, LANE 815,
                        TAOLIN ROAD,PUDONG,<br />
                        SHANGHAI 200135, CHINA</p>
                    <p>Tel: 86(21)5093-7001 <br />
                        Fax: 86(21)5885-4723 <br />
                        E-Mail: leon@poechina.com</p>

                </div>
            </div>

            <div class="col-1">
                <h2>Guang Zhou Office (China)</h2>
                <div class="col-indent">

                    <div class="col-indent">
                        <p style="padding: 0px;">ROOM 306, #5, SECTION 3, PINGDONG LANE,
                            BAIHEDONG, LIWAN DISTRICT, GUANGZHOU,<br />
                            GUANGDONG 510380, CHINA</p>
                        <p>Tel: 86(139)0300-5452 <br />
                            E-Mail: rongjz@poechina.com</p>
                        <br />
                    </div>

                </div>
            </div>

            <div class="col-1 col-pad">
                <h2>Su Zhou Office (China)</h2>
                <div class="col-indent">
                    <p style="padding: 0px;">#88, HUYANG ROAD, HUGUAN INDUSTRY PARK,
                        XIN DISTRICT, SUZHOU,<br />
                        JIANGSU, CHINA</p>
                    <p>Tel: 86(512)6616-8650 <br />
                        Fax: 86(512)6616-8650 <br />
                        E-Mail: zhuangsx@poechina.com</p>

                </div>
            </div>

            <div class="col-1">
                <h2>Ning Bo Office (China)</h2>
                <div class="col-indent">

                    <div class="col-indent">
                        <p style="padding: 0px;">ROOM 504, #22, MEIYUAN STREET, HAISHU, NINGBO,<br /> ZHEJIANG 315000, CHINA</p>
                        <p>Tel: 86(574)8719-0232 <br />
                            Fax: 86(574)8719-0232 <br />
                            E-Mail: xiwm@poechina.com</p>
                        <br />
                    </div>

                </div>
            </div>
            <div class="col-1 col-pad">
                <h2>Qing Dao Office (China)</h2>
                <div class="col-indent">
                    <p style="padding: 0px;">#1102, WUSHAN VILLAGE, HI. TECH. PARK, LAOSHAN DISTRICT, QINGDAO,<br /> SHANDONG 266101, CHINA</p>
                    <p>Tel: 86(532)8891-0868 <br /> 
                        E-Mail: wangyc@poehcina.com</p>

                </div>
            </div>

        </div>
    </div>
</div>