<%-- 
    Document   : news
    Created on : Dec 31, 2011, 3:10:47 PM
    Author     : Apolo
--%>

<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
<head> 
    <title>Our People</title>
        <link href="../css/style.css" rel="stylesheet" type="text/css" />
        <link href="../css/layout.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="../js/jquery-1.4.2.js"></script>
        <script type="text/javascript" src="../js/cufon-yui.js"></script>
        <script type="text/javascript" src="../js/cufon-replace.js"></script>
        <script type="text/javascript" src="../js/News_Gothic_700.font.js"></script>
        <script type="text/javascript" src="../js/Swiss_721_italic_500.font.js"></script>
        <script type="text/javascript" src="../js/Swiss_721_400.font.js"></script>
        <script type="text/javascript" src="../js/imagepreloader.js"></script>
        <script type="text/javascript" src="../js/jquery.anythingslider.js"></script>
        <script type="text/javascript" src="../js/jquery.easing.1.2.js"></script>
        <script type="text/javascript" src="../js/slider.js"></script>
        <script type="text/javascript" src="../js/jquery.slideshow.js"></script>
        <script type="text/javascript" src="../js/script.js"></script>

        <script type="text/javascript">
            preloadImages([
                "../images/link-bg-hover.jpg",
                "../images/link1-bg-hover.jpg",
                "../images/link2-bg-hover.jpg",
                "../images/menu-a-bg.gif"]);
        </script> 
        <!--[if lt IE 7]-->
        <script type="text/javascript" src="../js/ie_png.js"></script>
        <script type="text/javascript">
            DD_belatedPNG.fix('.social a');
        </script>
        <!--[endif]-->
</head>
<body id="page4">
	<div class="top-bg">
		<div class="">
			<div class="top-center">
				<div >
					<div id="main">
						<!--header -->
						<div id="header">
							<a href="/"><img
		src="../images/logo.jpg" alt="" class="logo" /></a>
							<div class="container">									
								<div class="social">
									<a href="#" class="twitter">&nbsp;</a><a href="http://www.facebook.com/pages/Pacific-Oasis-Enterprise-Inc/288212501208185" class="facebook">&nbsp;</a><a href="#" class="stumbleupon">&nbsp;</a><a href="#" class="rss">&nbsp;</a>
								</div>
							</div>
							<div class="menu">
								<ul>
									<li><a href="/">Home</a></li>
									<li><a href="/servlet/items">Items</a></li>
									<li><a href="/servlet/people">People</a></li>
									<li class="active"><a href="/servlet/news">News</a></li>
									<li><a href="/servlet/about">About</a></li>
									<li><a href="/servlet/contact">Contact</a></li>
								</ul>
							</div>
						</div>
						<!--header end-->
						<div id="content">
							<div class="indent1">
							  <div class="container">
									<div class="col-1 col-pad">
									 
										<div class="col-1 col-pad" style="padding-top:10px; width:240px;">
										<h2>Canton Fair News</h2>
										<div class="col-indent">
										 
											<p><span class="title">Speech at the Promotion Seminar for the 101st Session of China Import and Export Fair</span> </p>
											<p style="padding:0px; width:200px;" align="right"><em>http://www.cantonfair.org.cn,<br/> Feb 24, 2011</em></p>
											
												<p><span class="title">General Introduction to the 101st Session of China Import and Export Fair</span> </p>
											<p style="padding:0px; width:200px;" align="right"><em>http://www.cantonfair.org.cn,<br/>  Jan 12, 2011</em></p>
											
				 
											 
										</div>
									</div>
									</div>
									<div class="col-2">
										<h2>Pacific Oasis News</h2>
										<div class="col-indent">
											<span class="title1">General Introduction to the 101st Session of China Import and Export Fair</span>
											<p><em>2011/10/1 </em></p>
											
											<p>
											The 101st session of China Import and Export Fair (Canton Fair for short) will be held simultaneously in Pazhou Complex and Liuhua Complex in Guangzhou, China from April 15-30, 2007. The exhibition pattern remains as in two phases and at two complexes. The 
											</p>
											
										
											<p class="pad"><a href="#" class="link1">Read more</a></p>
										</div>
										
										
										<div class="col-indent" style="margin-top:15px;">
											<span class="title1">Our New Office</span>
											<p><em>2011/9/1 </em></p>
											
											<p>
				China office expanding! we have been recruiting our staff in shanghai and manufacturing product line around China division. 
											</p>
											
										
											<p class="pad"><a href="#" class="link1">Read more</a></p>
										</div>
									<div class="col-indent" style="margin-top:15px;">
											<span class="title1">Order your product thru our hotline or online</span>
											<p><em>2011/8/18 </em></p>
											
											<p>
				Download New Pacific Oasis Online Catalog
											</p>
											
										
											<p class="pad"><a href="#" class="link1">Read more</a></p>
										</div>	
										
									</div>
							  </div>
						  </div>
						</div>
						<!--footer -->
						<div id="footer">
							<div class="indent">
								<div class="container">
									<div class="policy">
										Global Headquaters<br />
										8413 Secura Way Unit B
										Santa Fe Springs, CA 90670
USA   E-mail: <a href="#" class="link2-2">info@pacificoasis.com</a>
										 
									</div>
									<form id="SubscribeForm" action="">
										<div>
											<label><input type="text" value="Enter your e-mail here:" class="input" onblur="if(this.value=='') this.value='Enter your e-mail here:'" onfocus="if(this.value =='Enter your e-mail here:' ) this.value=''" /></label>
											<input type="image" src="../images/input-img.jpg" /><br />
											<a href="#">Unsubscribe</a>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!--footer end-->
					</div>
				</div>
			</div>
		</div>
	</div>
   <script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
